@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,1) 20%, rgba(186,232,232,1) 20%);
}
.cont-1 {
    width: 100%;
    height: auto;
    display: flex;
}
.cont-2 {
    width: 80%;
    height: auto;
}
.cont-3 {
    width: 20%;
    height: auto;
}